<ion-content>
    <ion-grid>
        <div *ngFor="let item of _data; let i = index;">
            <ion-card class="ion-padding ion-margin-top">
                <ion-item>
                    <ion-icon slot="start" name="person"></ion-icon>
                    <ion-label class="labelText">
                        {{item.customerName}}
                        {{item.productName}}
                    </ion-label>
                </ion-item>
            </ion-card>
        </div>
    </ion-grid>
</ion-content>