<ion-content>
    <h2>Payment History</h2>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let item of _data; let i = index;">
                <ion-card class="ion-padding ion-margin-top">
                    <ion-item>
                        <ion-icon slot="start" name="person"></ion-icon>
                        <ion-label class="labelText">
                            {{item.customerName}}<br />
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" name="calendar"></ion-icon>
                        <ion-label class="labelText"> {{ convert(item.paymentDate) }}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" name="albums-outline"></ion-icon>
                        <ion-label class="labelText">
                            {{item.productName}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" name="cash"></ion-icon>
                        <ion-label class="labelText">
                            {{item.paidAmount}}
                        </ion-label>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>