<ion-content>
    <ion-list-header>
        <ion-label>Welcome {{ currentUser }} !!! </ion-label>
    </ion-list-header>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button id="trigger">
            <ion-icon size="large" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-segment class="ion-margin-top" (ionChange)="segmentChanged($event)" value="Chit">
        <ion-segment-button value="Chit">
            <ion-label>
                CHIT
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="KulukKal">
            <ion-label>
                KULUKKAL
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="rd">
            <ion-label>
                RD
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="emi">
            <ion-label>
                EMI
            </ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list *ngIf="segment == 'Chit'||segment =='KulukKal'||segment =='rd'||segment =='emi'">
        <div *ngFor="let item of productDetails; let i = index;">
            <ion-card class="ion-padding ion-margin-top" *ngIf="segment == item.productType">
                <ion-item>
                    <ion-label class="labelText">
                        {{item.productName}}
                    </ion-label>
                    <ion-button fill="outline" slot="end" id="trigger-button{{i}}">
                        <ion-icon name="create"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <p>Tenure {{ item.productTenure }} Months</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="people"></ion-icon>
                    <ion-label class="ion-text-wrap">
                        <p> {{ item.noOfCustomers }} Members</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="calendar"></ion-icon>
                    <ion-label class="ion-text-wrap">
                        <p> {{ convert(item.dateOfCreated) }}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-button fill="outline" (click)="getAllCustomerDetails(item.productId)">
                       Select Cus
                        <ion-icon name="person-add" slot="start"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-card>
        </div>
    </ion-list>

    <ion-modal trigger="trigger">
        <ng-template>
            <div style="background-color: #001D6E;" class="app-header">
                <h1>Add Product</h1>
            </div>
            <ion-grid class="ion-no-margin scrollbar" id="style-1">
                <form (ngSubmit)='addProductDetails()' [formGroup]="productDetailsForm">
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Product Name</ion-label>
                                <ion-input type="text" formControlName="productName" (ionChange)="checkProduct()"
                                    placeholder="Product Name">
                                </ion-input>
                            </ion-item>
                            <span class="alert-danger" *ngIf="isShowError == true">
                                <b>Already Exist Enter valid Product Name</b>
                            </span>
                            <span class="text-danger" *ngIf="!productDetailsForm.controls['productName'].valid && 
                          productDetailsForm.controls['productName']?.touched">Product Name is Required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Product Type</ion-label>
                                <ion-select placeholder="Product Type" formControlName="productType">
                                    <ion-select-option value="Chit">CHIT</ion-select-option>
                                    <ion-select-option value="KulukKal">KULUKKAL</ion-select-option>
                                    <ion-select-option value="emi">EMI</ion-select-option>
                                    <ion-select-option value="rd">RD</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <span class="text-danger" *ngIf="!productDetailsForm.controls['productType'].valid && 
            productDetailsForm.controls['productType']?.touched">Produt Type is Required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Product Tenure</ion-label>
                                <ion-input type="number" formControlName="productTenure" placeholder="Product Tenure">
                                </ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!productDetailsForm.controls['productTenure'].valid && 
            productDetailsForm.controls['productTenure']?.touched"> Tenure is Required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Price</ion-label>
                                <ion-input type="number" formControlName="price" placeholder="Price"></ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!productDetailsForm.controls['price'].valid && 
          productDetailsForm.controls['price']?.touched"> Price is Required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Quantity</ion-label>
                                <ion-input type="number" formControlName="noOfCustomers" placeholder="Quantity">
                                </ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!productDetailsForm.controls['noOfCustomers'].valid && 
            productDetailsForm.controls['noOfCustomers']?.touched"> Quantity is required *</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-label position="stacked">Description</ion-label>
                                <ion-input type="text" formControlName="productDescription" placeholder="Description">
                                </ion-input>
                            </ion-item>
                            <span class="text-danger" *ngIf="!productDetailsForm.controls['productDescription'].valid && 
            productDetailsForm.controls['productDescription']?.touched"> Description is required *</span>
                        </ion-col>
                    </ion-row>

                    <ion-row class="ion-margin-top buttonCenter">
                        <ion-col>
                            <ion-item lines="none">
                                <ion-button class="saveButton" (click)="onClose()" color="danger">
                                    Cancel</ion-button>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-button color="tertiary" class="saveButton" type="submit"
                                    [disabled]="!thisFormValid()">
                                    Save Product</ion-button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ng-template>
    </ion-modal>
</ion-content>